@import "@/app/style/theme.scss";
.Wrapper {
  background-color: $background;
  transition: $transition;
  width: 100%;
  cursor: pointer;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.FileInput {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.DragTitle {
  font-size: 24px;
  line-height: 36px;
  color: #f3f3f3;
  text-transform: uppercase;
  transition: $transition;
  font-weight: 600;
}
.Error {
  margin: 10px 0px;
  font-size: 12px;
  text-transform: uppercase;
  color: $red;
}

.Active {
  background-color: black;

  label {
    animation: shake 0.9s $cubic infinite;
  }
}

@keyframes shake {
  0% {
    color: $pink;
    transform: scale(1);
  }

  50% {
    color: $blue;
    transform: scale(1.08);
  }

  100% {
    color: $pink;
    transform: scale(1);
  }
}
