/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/Quote/Quote.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Quote_Item__WD2_9 {
  position: relative;
  width: 100%;
  margin: 20px 0px;
  opacity: 0;
  animation: Quote_fadeIn__yqhr_ 0.9s cubic-bezier(0.19, 0.08, 0.37, 1.2) forwards;
}
@keyframes Quote_fadeIn__yqhr_ {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
.Quote_Item__WD2_9:nth-child(1n) {
  animation-delay: 0.03s;
}
.Quote_Item__WD2_9:nth-child(2n) {
  animation-delay: 0.06s;
}
.Quote_Item__WD2_9:nth-child(3n) {
  animation-delay: 0.09s;
}
.Quote_Item__WD2_9:nth-child(4n) {
  animation-delay: 0.12s;
}
.Quote_Item__WD2_9:nth-child(5n) {
  animation-delay: 0.15s;
}
.Quote_Item__WD2_9:nth-child(6n) {
  animation-delay: 0.18s;
}
.Quote_Item__WD2_9:nth-child(7n) {
  animation-delay: 0.21s;
}
.Quote_Item__WD2_9:nth-child(8n) {
  animation-delay: 0.24s;
}
.Quote_Item__WD2_9:nth-child(9n) {
  animation-delay: 0.27s;
}
.Quote_Item__WD2_9:nth-child(10n) {
  animation-delay: 0.3s;
}
.Quote_Item__WD2_9:nth-child(11n) {
  animation-delay: 0.33s;
}
.Quote_Item__WD2_9:nth-child(12n) {
  animation-delay: 0.36s;
}
.Quote_Item__WD2_9:nth-child(13n) {
  animation-delay: 0.39s;
}
.Quote_Item__WD2_9:nth-child(14n) {
  animation-delay: 0.42s;
}
.Quote_Item__WD2_9:nth-child(15n) {
  animation-delay: 0.45s;
}
.Quote_Item__WD2_9:nth-child(16n) {
  animation-delay: 0.48s;
}
.Quote_Item__WD2_9:nth-child(17n) {
  animation-delay: 0.51s;
}
.Quote_Item__WD2_9:nth-child(18n) {
  animation-delay: 0.54s;
}
.Quote_Item__WD2_9:nth-child(19n) {
  animation-delay: 0.57s;
}
.Quote_Item__WD2_9:nth-child(20n) {
  animation-delay: 0.6s;
}
.Quote_Item__WD2_9:nth-child(21n) {
  animation-delay: 0.63s;
}
.Quote_Item__WD2_9:nth-child(22n) {
  animation-delay: 0.66s;
}
.Quote_Item__WD2_9:nth-child(23n) {
  animation-delay: 0.69s;
}
.Quote_Item__WD2_9:nth-child(24n) {
  animation-delay: 0.72s;
}
.Quote_Item__WD2_9:nth-child(25n) {
  animation-delay: 0.75s;
}
.Quote_Item__WD2_9:nth-child(26n) {
  animation-delay: 0.78s;
}
.Quote_Item__WD2_9:nth-child(27n) {
  animation-delay: 0.81s;
}
.Quote_Item__WD2_9:nth-child(28n) {
  animation-delay: 0.84s;
}
.Quote_Item__WD2_9:nth-child(29n) {
  animation-delay: 0.87s;
}
.Quote_Item__WD2_9:nth-child(30n) {
  animation-delay: 0.9s;
}
.Quote_Item__WD2_9:hover .Quote_Text__OqQjA {
  transform: translate(-5px, -5px);
}
.Quote_Item__WD2_9:hover .Quote_Background__hrGE_ {
  transform: translate(5px, 5px);
}

.Quote_Background__hrGE_ {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ea526f;
  z-index: 2;
  transition: all 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  border-radius: 4px;
}

.Quote_Text__OqQjA {
  font-size: 20px;
  line-height: 28px;
  padding: 24px;
  cursor: pointer;
  color: #ffeaec;
  background-color: #256eff;
  border: 1px solid #c1c1c1;
  transition: all 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  position: relative;
  z-index: 3;
  border-radius: 4px;
}

.Quote_Snackbar__EEbIh {
  position: absolute;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  z-index: 10;
  font-size: 10px;
  background-color: #f3a712;
  padding: 8px;
  animation: Quote_fadein__Z6093 1.8s cubic-bezier(0.51, 0.92, 0.24, 1.15) forwards;
  z-index: 2;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
}

@keyframes Quote_fadein__Z6093 {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  20% {
    opacity: 1;
    transform: translateX(70px);
  }
  90% {
    opacity: 1;
    transform: translateX(70px);
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/style/main.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.main_Wrapper__rVC8K {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main_Container__CjiMO {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 60px 24px;
  background-color: #001011;
  transition: all 0.4s ease-out;
}

.main_Results__ckZhb {
  display: flex;
  flex-direction: column;
  padding: 24px 0px;
  width: 800px;
}

.main_ClearContainer__BsdDX {
  display: flex;
  justify-content: center;
  color: #f45b69;
  font-size: 24px;
  line-height: 36px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s ease-out;
  margin-bottom: 80px;
}
.main_ClearContainer__BsdDX:hover .main_ClearText__Y8p4p {
  margin: 0px 2px;
  transform: translateY(2px);
}

.main_ClearText__Y8p4p {
  margin: 0px 6px;
  transition: all 0.4s ease-out;
}

.main_Title__HI9MO {
  font-size: 20px;
  line-height: 36px;
  color: #ffeaec;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .main_Results__ckZhb {
    width: 100%;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/Dropzone/Dropzone.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Dropzone_Wrapper__igKG_ {
  background-color: #001011;
  transition: all 0.4s ease-out;
  width: 100%;
  cursor: pointer;
}

.Dropzone_Container__WiAKt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.Dropzone_FileInput__YvcJS {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.Dropzone_DragTitle__50Gaz {
  font-size: 24px;
  line-height: 36px;
  color: #f3f3f3;
  text-transform: uppercase;
  transition: all 0.4s ease-out;
  font-weight: 600;
}

.Dropzone_Error__ZAJxt {
  margin: 10px 0px;
  font-size: 12px;
  text-transform: uppercase;
  color: #f45b69;
}

.Dropzone_Active__sfVyf {
  background-color: black;
}
.Dropzone_Active__sfVyf label {
  animation: Dropzone_shake__rJsqh 0.9s cubic-bezier(0.51, 0.92, 0.24, 1.15) infinite;
}

@keyframes Dropzone_shake__rJsqh {
  0% {
    color: #ea526f;
    transform: scale(1);
  }
  50% {
    color: #256eff;
    transform: scale(1.08);
  }
  100% {
    color: #ea526f;
    transform: scale(1);
  }
}
