$white: #ffeaec;
$background: #001011;
$primary: #093a3e;
$yellow: #f3a712;
$grey-light: #c1c1c1;
$blue: #256eff;
$pink: #ea526f;
$red: #f45b69;
$transition: all 0.4s ease-out;
$transition-fast: all 0.2s ease-out;
$cubic: cubic-bezier(0.51, 0.92, 0.24, 1.15);
